- title 'About'

%header#overview.jumbotron
  .hero-unit.opening-page
    %h1 Thing
    %p Great Northeastern War Scheduling System

.row
  .col
    %p
      This web site allows instructors and department heads to add classes
      to be taught at the Great Northeastern War and schedule other
      events.
    %p
      It is entirely custom software, designed and implemented by a team
      of programmers, managed by Michael Graff, known
      in the Society for Creative Anachronism as Lord Griffin de Willingeham
      formerly from the Great Barony of Namron, in the Stellar Kingdom of Ansteorra.
      Lord Griffin is also the primary developer.
      Please see the Credits section for a complete author list.
      This particular version was adapted by Lord Aloysious Sartore of Ravensbridge for 
      use at GNE, as he tried the spreadheet method and thought it was a lot of
      busywork that a computer should be doing.
    %p
      The software is written in Ruby on Rails.  All the source is open
      and available on Github as
      = (link_to 'skandragon/thing', 'https://github.com/skandragon/thing', target: '_blank') + '.'
      If you are interested in contributing, please drop Michael a note
      through Github.

.row
  .col
    %h3 Reporting Problems
    %p
      If you wish to report a defect in how the web site operates, such as
      errors on form submission, the best option is to
      = link_to 'open a ticket', 'https://github.com/aloysiuszeno/thing/issues'
      in our bug tracking system.  You will have to create a Github account
      if you do not already have one.
    %p
      If the problem is more administrative, such as scheduling issues,
      questions about how to use the system, or questions about University
      procedures, please use the Contact link near the bottom right of every
      page.  This will reach the GNE University staff via email.  You
      may also use this to report web site errors if you do not wish to use
      Github to report technical issues.

.row
  .col
    %h3 Future Development
    %p
      While the initial focus is for  University classes and other
      classes organized through the University, it could be made
      more generic to allow use at other events, both inside and outside
      the SCA.
    %p
      This is just a rough adaptation for use with Great Northeastern War, 
      the future probably is in a re-write with a javascript front end that
      is more generic for use at many Kingdom events.
.row
  .col
    %h3 Authors
    %p
      %ul
        %li Lord Griffin de Willingeham, (Michael Graff)  &mdash; Lead developer and project coordinator
        %li Mistakes, bugs, and customization for GNE by Lord Aloysius Sartore, (Stacy Morang), Ravensbridge, Malagentia, East Kingdom
