- title 'Terms of Service'

%h1 Terms of Service

%p
  Simple:  None.  Nope, no guarantee this won't make your head explode
  or your computer catch fire.
%p 
  And there's no guarantee that this site will be available when you
  want it, or that it's reachable from your campsite.  We do our best,
  but it's only a best effort. No refunds.
